<h1>Posts</h1>

<% @posts.each do |post| %>

  <%= post.title %>
  <%= post.description %>
  <% if user_signed_in? %>
    <%= post.user.username %>
  <% else %>
    <small>Anonymous</small>
  <% end %>
<% end %>
