<div class="row m-4">
<h1>New Post</h1>
  <div class="col-6">
    <%= render "form", post: @post %>
  </div>
  <div class="col-6">
    <%= image_tag "add_post.png", class: "post-add" %>
  </div>
</div>

